.transaction_history {
  border-collapse: collapse;
}

.transaction_history td {
  padding: 5px 10px;

  border: 2px solid black;
  border-collapse: collapse;
}
.transaction_history tbody:nth-child(2n + 1) {
  background-color: rgb(182, 157, 157);
  
}
.transaction_history th {
  padding: 10px 0;

  border: 2px solid black;
  background-color: aqua;
}
